version: "3"
services:
  db:
    image: postgres:9.6
    ports:
      - "5431:5432"
    env_file:
      - ".env"
    environment:
      - POSTGRES_PASSWORD=$YART_DATABASE_PASSWORD
      - POSTGRES_USER=$YART_DATABASE_USER
    volumes:
      - ./tmp/db:/var/lib/postgresql/data
    # To insure Postgress has booted before running the app container, along side db_socket
    healthcheck:
      test: pg_isready -U postgres -h 127.0.0.1
      interval: 5s

  # A neat trick to prevent reinstalling Gems on every build
  # https://medium.com/magnetis-backstage/how-to-cache-bundle-install-with-docker-7bed453a5800
  box:
    image: busybox
    volumes:
      - /box
    command: tail -f /dev/null

  app:
    image: yart
    build:
      context: .
    ports:
      - "3000:3000"
    env_file:
      - ".env"
    volumes:
      - .:/usr/src/app:cached
    volumes_from:
      - box
    command: sh -c "yarn install &&
      bundle check || bundle install &&
      bundle exec rails db:create &&
      bundle exec rails db:migrate &&
      bundle exec puma -C config/puma.rb"
    stdin_open: true
    tty: true
    depends_on:
      db:
        condition: service_healthy
