<div class="field">
    <div class="control">
        <input
            id="<%= post_id %>"
            class="input add-comment comment-section"
            type="text"
            placeholder="Add a comment . . ."
        >
    </div>
</div>