<div class="card-footer-item">
  <%= @project.status %>
</div>
<div class="card-footer-item">
  <%= @project.category %>
</div>
<div class="card-footer-item">
  <button class="button tools-link no-border">
    Tools
  </button>
</div>
