
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="card">
    <p class="title is-4">Tools</p>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
