<% if @project.user === current_user %>
  <% if flash[:errors] %>
      <div class="notification is-danger">
          <ul>
              <% flash[:errors].each do |m| %>
                  <li><%= m %></li>
              <% end %>
          </ul>
      </div>
  <% end %>

  <div class="field">
    <div class="control is-expended">
      <div class="select">
          <%= select_tag :status, options_for_select(@statuses, @project.status),
          {
            include_blank: "Status:",
            onchange: "update_by_field(#{@project.id}, 'status', this.value)",
          } %>
      </div>
      <div class="select">
          <%= select_tag :category, options_for_select(@categories, @project.category),
          {
            include_blank: "Category:",
            onchange: "update_by_field(#{@project.id}, 'category', this.value)",
          } %>
      </div>
      <button class="button is-link tools-link">Tools</button>
    </div>
  </div>
<% end %>
