/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.

 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";
$plum: #DF5977;
$pale_goldenrod:#EBDDB5;
$khaki: #BAA072;
$beige: #EEDED4;
$dim_gray: #826C55;
$primary: $plum;
$link: $khaki;
$light: $beige;
@import "bulma/bulma";
html,
body {
    font-family: 'Open Sans', serif;
    font-size: 14px;
    font-weight: 300;
}

html.signed-in {
    background: url(background.jpg) fixed center center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html.signed-out {
    background: #fce6e6;
}

.navbar-item img {
    max-height: 70px;
}

.card {
    height: 100%;
}

.card-image {
    overflow: hidden;
}

.modal.is-active .modal-background {
    opacity: 0.8;
}
