/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.

 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";
$plum: #DF5977;
$pale_goldenrod:#EBDDB5;
$khaki: #BAA072;
$beige: #EEDED4;
$dim_gray: #826C55;
$primary: $plum;
$link: $khaki;
$light: $beige;
@import "bulma/bulma";
@import "bulma-extensions/bulma-timeline/dist/css/bulma-timeline";
html,
body {
    font-family: 'Open Sans', serif;
    font-size: 14px;
    font-weight: 300;
}

html.signed-in {
    background: url(background.jpg) fixed center center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html.signed-out {
    background: #fce6e6;
}

.navbar-item img {
    max-height: 70px;
}

.new-post-icon {
    width: 100%;
    height: 100%;
    background-color: #EEDED4;
    background-image: url('plus-icon.png');
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    box-shadow: 1px $dim_gray solid;
    z-index: 10;
    cursor: pointer;
}

.card {
    margin-top: 5rem;
}

.card .header {
    padding: 10px;
}

.card-footer .columns {
    width: 100%;
}

.card-footer .columns input {
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.profile-card {
    height: 100%;
}

.footer {
    margin-top: 10vh;
    padding: 2rem 1.5rem;
}

.modal.is-active .modal-background {
    opacity: 0.8;
}

.collapsible-content {
    display: none;
    overflow: hidden;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.image-upload>input {
    display: none;
}

.image-upload>label {
    cursor: pointer;
}

.user-avatar.image {
    max-height: 400px;
    overflow: hidden;
}

.comment_section {
    padding:8px;
    border-bottom: 1px solid #dbdbdb;
}

.hidden {
    display: none;
}

@include from($tablet) {
    .post-image.image {
        max-height: 400px;
        overflow: hidden;
    }
}
