@include from($tablet) {
  .post-image.image {
    max-height: 400px;
    overflow: hidden;
  }
}

.new-post .fa-camera {
  font-size: 32px;
}

.likes-size {
  margin-left: 5px;
}

.material-icons.like {
  color: #9f6bbc;
}

.like,
.share-button {
  cursor: pointer;
}
