<% @posts.each do |post| %>
    <div class="column is-one-third">
        <div class="card large">
            <% if post.image.attached? %>
                <div class="card-image">
                    <figure class="image post-image">
                        <%= image_tag post.image %>
                    </figure>
                </div>
            <% end %>
            <div class="card-content">
                <div class="content">
                    <% unless post.text.blank? %>
                        <p>
                            <%= post.text %>
                        </p>
                        <hr />
                    <% end %>
                </div>
                <% if with_user_data %>
                    <%= render "user_data", post: post %>
                <% end %>
            </div>
        </div>
    </div>
<% end %>
