<div class="media">
    <div class="media-left">
        <figure class="image is-96x96">
            <%= user_avatar(post.user) %>
        </figure>
    </div>
    <div class="media-content">
        <p class="title is-4 no-padding"><%= post.user.name %></p>
        <p>
            <span class="title is-6">
                <%= link_to "@#{post.user.username}", profile_url(post.user.id) %>
            </span>
        </p>
        <% if post.project %>
            <p class="subtitle is-6"><%= post.project.title %></p>
        <% end %>
    </div>
</div>
